<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
  <title>Organic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>

  <% include header.ejs %>


<div class="content">
<h3>Home</h3>
<div>
  <form action = "leader" method="post">
    <input type="submit" value="  Leaderboard"> Random select </input>
  </form>
</div>
<div>
  <form action = "random" method="post">
    <input type="submit" value=" randomSelect"> Play one game</input>
  </form>
</div>
<div>
  <form action="/playerScore" method="post">
  <select name="pl">
  <option value="1">Player 1</option>
  <option value="2">Player 2</option>
  <option value="3">Player 3</option>
  <option value="4">Player 4</option>
  <option value="5">Player 5</option>

</select>
<input type = "submit">
  </form>
</div>




</div>

  <% include footer.ejs %>
  
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>
