<!DOCTYPE html>
<html lang="en">

<head>
  <title>player score</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>

  <% include header.ejs %>


<div class="content">

  <h1> Player Rank </h1>

    <% for(var i=0;i<returnData.length; i++){ %>
      <h2>BATTLE <%= returnData[i].battle %></h2>
      <h2>Rank  <%= returnData[i].rank %></h2>
      <h1> ************ </h1>
    <% } %>

</div>

  <% include footer.ejs %>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>
